# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SM2\sm2-improvement\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
